.DS_Store
www/downloads
www/logs
www/config/config.php
www/data/*.sqlite3
tmp
test-rest/
/*.session.sql
.vscode/settings.json
www/vendor/
test/db.sqlite3
test/test_data.json
taining_set.tar.gz
taining_set
test/train_videos.json
