services:
  ytdlwui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ytdlwui
    ports:
      - "8963:80"
    volumes:
      - ./root/ytdlwui:/root/ytdlwui
      - ./www:/var/www/html/youtube-dl
      - ./tmp/data:/var/www/html/youtube-dl/data
      - ./tmp/downloads:/var/www/html/youtube-dl/downloads
      - ./tmp/logs:/var/www/html/youtube-dl/logs
      - ./tmp/sessions:/var/lib/php/sessions
    restart: unless-stopped
